{% extends 'orak/base.html' %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors }}</li>
                {% endif %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<section class="slider_section long_section">
    <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>Regisztráció</h1>
                                <form action="{% url 'register_user' %}" method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="btn-box">
                                        <button type="submit" class="btn1">Regisztrálok</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</section>

{% endblock %}
